/*

#FFFFF0     - light
#FEFCBF     - light medium 
#FAF089     - medium
#F6E05E     - medium dark
#ECC94B     - dark

*/

a {
    color: black!important;
}

a:hover {
    color: dimgrey;
}

input {
    border: 2px solid #ECC94B!important;
    border-radius: 1rem!important;
}

.btn {
    background: #ECC94B!important;
    color: black;
}

a.icons {
    color: #ECC94B!important;
}

a.icons:hover {
    color: rgb(71, 71, 71)!important;
}
/* -------------------------------------

-------------------------------------- */

.bg{
    background: #ECC94B!important;
    position: sticky;
}


.bg1{
    background: #ECC94B!important;
}

.bg2{
    background: #FFFFF0!important;
}

.bg3{
    background: rgb(255, 255, 255)!important;
}
/* -------------------------------------

-------------------------------------- */

.link-item {
    background-color: #ECC94B;
    color: white;
}

#eclair {
    fill: #ECC94B;
    width: 200px;
    margin: 0 auto;
    opacity: 0.33;
}

#elec {
    fill: #ECC94B;
    width: 100px;
    opacity: 0.9;
}

#compt {
    fill: #ECC94B;
    width: 50px;
    opacity: 0.9;
    margin: 0 auto;
}

#bottomlight {
    fill: #ECC94B;
    width: 100%;
    transform: rotate(180deg);
    top: -3vh;
    position: relative;
}

#bottomlightwhite {
    fill: rgb(255, 255, 255);
    width: 100%;
    transform: rotate(180deg);
    top: -3vh;
    position: relative;
}

#bottomlightwhite2 {
    fill: rgb(255, 255, 255);
    width: 100%;
    top: 3vh;
    position: relative;
}