
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
.env
.env
composer.lock
.env
composer.lock
src/Migrations/Version20190925114658.php
composer.lock
.env
composer.lock
src/Migrations/Version20190927092123.php
templates/.DS_Store
.DS_Store
composer-setup.php
composer.lock
src/Migrations/Version20190930130542.php
src/Migrations/Version20190930130958.php
composer.lock
.env
