{% extends 'base.html.twig' %}

{% block content %}

{{form_start(form)}}
                        <div class="form-group">
                            <button class="btn btn-info" type="submit" action="">Envoyer !</button>
                        </div>
{{form_end(form)}}

{% endblock %}
