{% extends 'base.html.twig' %}

{% block content %}
<section class="mt-5 mb-5">
    <div class="row justify-content-center">

        {% for photo in photos %} 
        {% set modal = 'modal' %}
        <div class="col-md-2">
            <img class="img-thumbnail" data-toggle="modal" data-target="#{{ modal ~ photo.id }}" src="{{ asset('/photo/' ~ photo.photo) }}">

            <div class="modal fade" id="{{ modal ~ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <img src="{{ asset('/photo/' ~ photo.photo) }}" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        

    </div>

</section>
{% endblock %}