{% extends 'base.html.twig' %}

{% block content %}

<h1 class="text-center"> Tarifs </h1>


<div class="col-md-10 mx-auto">
{% for tarif in tarifs %}


<div class="row">
    <div class="col-md-4 offset-2 text-right">{{tarif.prestation}}</div>
    <div class="col-md-6">Tarif standard : {{tarif.tarifJour}}€ <br>
        {% if tarif.tarifNuit != NULL%}
        Tarif de nuit : {{tarif.tarifNuit}}€<br>
        {% elseif tarif.tarifWeekend !=NULL %}
        Tarif weekend : {{tarif.tarifWeekend}}€<br>
        {% endif %}
    </div>
</div>
<br>

{% endfor %}
</div>



{% endblock %}