body
{
    overflow-x: hidden;
    background-color: #F4FAFD;
}

.container-fluid,
{
    margin: 0!important;
    padding : 0!important;
}

.row { 
    padding: 0!important;
}

/* ------------------------------------

LOGIN

--------------------------------------- */

.btnconnexion {
    font-weight: bolder;
    color: ;
    border: 1px solid ;
}

.btnconnexion:hover {
    font-weight: bolder;
    color: white;
    border: none;
    background: #;
}

#icon-login
{

    fill: #1A9BAC;
}

#icon-login-head
{
    fill: white;
}

#icon-login-body
{
    fill: white;
}