@media only screen and (min-width: 992px) {

    .display-none-large {
        display: none;
    }

/* ----------------------------------------------------------------------------

██████╗  ██████╗ ██████╗ ██╗   ██╗
██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
██████╔╝██║   ██║██║  ██║ ╚████╔╝ 
██╔══██╗██║   ██║██║  ██║  ╚██╔╝  
██████╔╝╚██████╔╝██████╔╝   ██║   
╚═════╝  ╚═════╝ ╚═════╝    ╚═╝   

----------------------------------------------------------------------------- */


body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    margin: 0px !important;
    padding: 0px !important;
}

.container-fluid,
.container,
.row {
    padding: 0px !important;
}

svg {
    margin: 0 auto;
    z-index: 1
}

.mainbox {
    min-height: 70vh;
}

/* ----------------------------------------------------------------------------
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
----------------------------------------------------------------------------- */

.link-box {
    right: 0;
    top: 40%;
    position: fixed;
    z-index: 999;
}

.link-item {
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2em;
    box-shadow: 2px 2px 5px dimgrey;
}

.link-item:hover {
    opacity: 0.7;
    transition-duration: 0.3s;
}

/* -----------------------------------



███████╗ ██████╗ ██████╗ ███╗   ███╗     ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗    ██╗███╗   ██╗██████╗ ███████╗██╗  ██╗
██╔════╝██╔═══██╗██╔══██╗████╗ ████║    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝    ██║████╗  ██║██╔══██╗██╔════╝╚██╗██╔╝
█████╗  ██║   ██║██████╔╝██╔████╔██║    ██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║       ██║██╔██╗ ██║██║  ██║█████╗   ╚███╔╝ 
██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║    ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║       ██║██║╚██╗██║██║  ██║██╔══╝   ██╔██╗ 
██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║    ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║       ██║██║ ╚████║██████╔╝███████╗██╔╝ ██╗
╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝     ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝       ╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚═╝  ╚═╝


-------------------------------------- */


.form-cont-bg {
    background-color: #14405a;
    background: url('../design/TEST_HTML/BASE/anton-dmitriev-kBKOaghy8mU-unsplash.jpg') fixed no-repeat;
    background-size: cover;
}

.form-cont-contact {
    background-color: white;
    border-radius: 2rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.section-bg {
    background-color: #14405a;
    background: url('../design/TEST_HTML/BASE/electricity-energy-low-angle-shot-323133.jpg') fixed no-repeat;
    background-size: cover;
}


/* -----------------------------------


███████╗██╗     ███████╗███╗   ███╗███████╗███╗   ██╗████████╗███████╗
██╔════╝██║     ██╔════╝████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
█████╗  ██║     █████╗  ██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ███████╗
██╔══╝  ██║     ██╔══╝  ██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ╚════██║
███████╗███████╗███████╗██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ███████║
╚══════╝╚══════╝╚══════╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
                                                                      

-------------------------------------- */

.btn {
    text-transform: uppercase;
    border-radius: 1rem;
    font-weight: bold;
    padding-left: 3vw;
    padding-right: 3vw;
}

.btn:hover {
opacity: 0.7;
transition-duration: 0.3s;
}


.textbox {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    position: relative;
    bottom: 0;
}

.competence {
    font-size: 1rem;
    margin: 0 auto;
}

.boutontext {
    font-size: 1.25rem;
    text-transform: lowercase;
    letter-spacing: 2px;
}

.icons {
    font-size: 4rem;
}

.copyright {
    font-size: 0.75rem;
}

/* -----------------------------------


███╗   ███╗ ██████╗ ██████╗  █████╗ ██╗     
████╗ ████║██╔═══██╗██╔══██╗██╔══██╗██║     
██╔████╔██║██║   ██║██║  ██║███████║██║     
██║╚██╔╝██║██║   ██║██║  ██║██╔══██║██║     
██║ ╚═╝ ██║╚██████╔╝██████╔╝██║  ██║███████╗
╚═╝     ╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
                                            


-------------------------------------- */

.image_fakstagram  {
 width: 25vw!important;
 height: 25vw;
    object-fit: cover;
    border: 3vh white solid; 
    }

    .text-cadre {
        background: white;
        width: 25vw;
        margin: 0 auto;
        position: relative;
        top: -5vh;
        padding: 2vh;
    }
    

    .modal-dialog {
        max-height: 90%;
        max-width: 70%;
        text-align: center;
        overflow: hidden;
    }
    
    .modal-content {
        max-width: 100%!important;
        width: auto;
        background: none; 
        border: none;
        margin: 0 auto; 
    
    }

    .d-block {
        max-height: 90vh;
        height: 90vh;
        width: auto;
        margin: 0 auto;
        object-fit: contain;
    }
    

    .carousel-caption {
        background-color: rgba(14, 14, 14, 0.685)!important;
        color: white!important;
        font-size: 1.3em;
        opacity: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2vh;
        height: auto;
    }
    
}


/* ------------------------------------------------- */ 

@media only screen and (max-width: 991px) {

    .display-none-small {
        display: none;
    }

    /* ----------------------------------------------------------------------------
    
    ██████╗  ██████╗ ██████╗ ██╗   ██╗
    ██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
    ██████╔╝██║   ██║██║  ██║ ╚████╔╝ 
    ██╔══██╗██║   ██║██║  ██║  ╚██╔╝  
    ██████╔╝╚██████╔╝██████╔╝   ██║   
    ╚═════╝  ╚═════╝ ╚═════╝    ╚═╝   
    
    ----------------------------------------------------------------------------- */
    
    
    body {
        font-family: 'Raleway', sans-serif;
        overflow-x: hidden!important;
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .container-fluid,
    .container,
    .row {
        padding: 0px !important;
    }
    
    svg {
        margin: 0 auto;
        z-index: 1
    }

    .link-box1 {
        left: 1%;
        bottom: 3%;
        position: fixed;
        z-index: 999;
    }
    
    .link-box2 {
        right: 1%;
        bottom: 3%;
        position: fixed;
        z-index: 999;
    }

    .link-item1 {
        text-align: center;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 1.2em;
        box-shadow: 2px 2px 5px dimgrey;
    }

    .link-item2 {
        text-align: center;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 1.2em;
        box-shadow: 2px 2px 5px dimgrey;
    }
    
    .link-item1:hover {
        opacity: 0.7;
        transition-duration: 0.3s;
    }

    .link-item2:hover {
        opacity: 0.7;
        transition-duration: 0.3s;
    }
 
    /* -----------------------------------
    
    
    
    ███████╗ ██████╗ ██████╗ ███╗   ███╗     ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗    ██╗███╗   ██╗██████╗ ███████╗██╗  ██╗
    ██╔════╝██╔═══██╗██╔══██╗████╗ ████║    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝    ██║████╗  ██║██╔══██╗██╔════╝╚██╗██╔╝
    █████╗  ██║   ██║██████╔╝██╔████╔██║    ██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║       ██║██╔██╗ ██║██║  ██║█████╗   ╚███╔╝ 
    ██╔══╝  ██║   ██║██╔══██╗██║╚██╔╝██║    ██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║       ██║██║╚██╗██║██║  ██║██╔══╝   ██╔██╗ 
    ██║     ╚██████╔╝██║  ██║██║ ╚═╝ ██║    ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║       ██║██║ ╚████║██████╔╝███████╗██╔╝ ██╗
    ╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝     ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝       ╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚═╝  ╚═╝
    
    
    -------------------------------------- */
    
    
    .form-cont-bg {
        background-color: #14405a;
        background: url('../design/TEST_HTML/BASE/anton-dmitriev-kBKOaghy8mU-unsplash.jpg') fixed no-repeat;
        background-size: cover;
    }
    
    .form-cont-contact {
        background-color: white;
        border-radius: 2rem;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
    
    .section-bg {
        background-color: #14405a;
        background: url('../design/TEST_HTML/BASE/electricity-energy-low-angle-shot-323133.jpg') fixed no-repeat;
        background-size: cover;
    }
    
    
    /* -----------------------------------
    
    
    ███████╗██╗     ███████╗███╗   ███╗███████╗███╗   ██╗████████╗███████╗
    ██╔════╝██║     ██╔════╝████╗ ████║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
    █████╗  ██║     █████╗  ██╔████╔██║█████╗  ██╔██╗ ██║   ██║   ███████╗
    ██╔══╝  ██║     ██╔══╝  ██║╚██╔╝██║██╔══╝  ██║╚██╗██║   ██║   ╚════██║
    ███████╗███████╗███████╗██║ ╚═╝ ██║███████╗██║ ╚████║   ██║   ███████║
    ╚══════╝╚══════╝╚══════╝╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
                                                                          
    
    -------------------------------------- */
    
    .btn {
        text-transform: uppercase;
        border-radius: 1rem;
        font-weight: bold;
        padding-left: 3vw;
        padding-right: 3vw;
    }
    
    .btn:hover {
    opacity: 0.7;
    transition-duration: 0.3s;
    }
    
    
    .textbox {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        position: relative;
        bottom: 0;
    }
    
    .competence {
        font-size: 1rem;
        margin: 0 auto;
    }
    
    .boutontext {
        font-size: 1.25rem;
        text-transform: lowercase;
        letter-spacing: 2px;
    }
    
    .icons {
        font-size: 4rem;
    }
    
    .copyright {
        font-size: 0.75rem;
    }
    
    
        
    }