/*


*/
body {
    background: white;
}
a {
    color: black!important;
}

a:hover {
    color: dimgrey;
}

input {
    border: 2px solid #ED8936!important;
    border-radius: 1rem!important;
    background: transparent!important;
}

.btn {
    background: #ED8936!important;
    color: black;
}

a.icons{
    color: #ED8936!important;
}

a.icons:hover, a.smallicons:hover {
    color: rgb(71, 71, 71)!important;
    text-decoration: none;
}



/* -------------------------------------

-------------------------------------- */

.bg{
    background: #ED8936!important;
}

.bg1{
    background: #ED8936!important;
}

.bg2{
    background: #ed893633!important;
}

.bg3{
    background: rgb(255, 255, 255)!important;
}
/* -------------------------------------

-------------------------------------- */

.link-item {
    background-color: #ED8936;
    color: white;
}

.tarif {
    border: 2px solid #ED8936!important;
    border-radius: 1rem!important;
}

.message {
    border: 2px solid #ED8936!important;
    border-radius: 1rem!important;
    background: transparent;
    height: 25vh!important;
}



/* --------------------------------------------------------------

Gestion des couleurs pour les SVG de transition 

---------------------------------------------------------------- */ 

.svg-color-w {
    fill: white;
}

.svg-color-c {
    fill: #ED8936;
  }

  /* --------------------- */ 
 /* Spécifique a "avocat" */ 
/* --------------------- */ 

/*  Ligne triangle */
.svg-color-w1 {
    fill:rgb(255, 255, 255);
}
/* Petit triangle */
.svg-color-w2 {
    fill: rgba(237, 136, 54, 0.5);
}

.svg-color-c1 {
    fill: #ED8936;
  }
  .svg-color-c2 {
    fill: rgba(237, 136, 54, 0.5);
  }