/* --------------------------------------------------------

Cette feuille de CSS sert pour le placement des SVG dans les différentes sections 

----------------------------------------------------------- */ 

/* ---------------------------------------------------------
          Artisan
---------------------------------------------------------- */

#top-trs-artisan {
    width: 100%;
    top: 4vh;
    position: relative;
}

#bottom-trs-artisan {
    width: 100%;
    transform: rotate(180deg);
    top: -4vh;
    position: relative;
}

/* ---------------------------------------------------------
        Avocat
---------------------------------------------------------- */

#top-trs-avocat {
    width: 100%;
    bottom: 12vh;
    position: relative;
}

#bottom-trs-avocat {
    width: 100%;
    transform: rotate(180deg);
    top: 12vh;
    position: relative;
}

/* ---------------------------------------------------------
        Boulanger
---------------------------------------------------------- */

#top-trs-boulanger {
    width: 100%;
    top: 4vh;
    position: relative;

}

#bottom-trs-boulanger {
    width: 100%;
    transform: rotate(180deg);
    top: -4vh;
    position: relative;
}

/* ---------------------------------------------------------
            Coiffeur
---------------------------------------------------------- */

#top-trs-coiffeur {
    width: 150%;
    top: -5vh;
    position: relative;
    transform: rotate(180deg);

}

#bottom-trs-coiffeur {
    width: 100%;
    top: 4vh;
    position: relative;
}

#soustitre-icon-coiffeur {
    width: 200px;
    margin: 0 auto;
    opacity: 0.33;
}



/* ---------------------------------------------------------
            Eclair
---------------------------------------------------------- */

#top-trs-eclair {
    width: 100%;
    top: 4vh;
    position: relative;
}

#bottom-trs-eclair {
    width: 100%;
    transform: rotate(180deg);
    top: -4vh;
    position: relative;
}

#soustitre-icon-eclair {
    width: 200px;
    margin: 0 auto;
    opacity: 0.33;
}


/* ---------------------------------------------------------
           Fleur
---------------------------------------------------------- */

#top-trs-fleur {
    width: 100%;
    top: 4vh;
    position: relative;
}

#bottom-trs-fleur {
    width: 100%;
    transform: rotate(180deg);
    top: -4vh;
    position: relative;
}

#soustitre-icon-fleur {
    width: 200px;
    margin: 0 auto;
    opacity: 0.33;
}

/* ---------------------------------------------------------
            Peinture
---------------------------------------------------------- */

#top-trs-peinture {
    width: 100%;
    top: 4vh;
    position: relative;
}

#bottom-trs-peinture {
    width: 100%;
    transform: rotate(180deg);
    top: -4vh;
    position: relative;
}

#soustitre-icon-peinture {
    width: 200px;
    margin: 0 auto;
    opacity: 0.33;
}

/* ---------------------------------------------------------
            Plombier
---------------------------------------------------------- */

#top-trs-plombier {
    width: 100% !important;
    top: 10vh;
    position: relative;
    transform: rotate(180deg);
}

#bottom-trs-plombier {
    width: 100% !important;
    top: -10vh;
    position: relative;
}

#soustitre-icon-plombier {
    width: 200px;
    margin: 0 auto;
    opacity: 0.33;
}