{% extends 'admin/baseadmin.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-4 alert alert-info rounded border border-info mx-auto my-5 text-center">
            <h1>
                Aide & Support
            </h1>
        </div>
    </div>
    <div class="row justify-content-around">

        <div class="col-4 alert alert-info border border-info p-3 rounded text-center">
            <h5>
                Si vous souhaitez changer votre mot de passe, suivez le lien ci-dessous.</h5>
            <a class="text-light btn btn-success" href="{{ path('app_forgotten_password') }}">Changer le mot de passe</a>
        </div>

        <div class="col-4 alert alert-info border border-info p-3 rounded text-center">
            <h5>
                En cas de problème, vous pouvez joindre l'assistance à ce numéro.</h5>
            <a class="text-light btn btn-success" href="{{ path('app_forgotten_password') }}">
                01 23 45 67 89</a>

        </div>
    </div>

    <div class="row justify-content-center mt-5"> 
     <div class="col-8 alert alert-info border border-info p-3 rounded text-center">
          <h5> Si vous rencontrez un problème, vous pouvez nous envoyer un message détaillant votre problème. 
          <br> Nous y répondrons dans les plus brefs délais. </h5>

          <form method="post">   <label for="objet">Objet </label>
      <input type="text" class="form-control" id="objet" placeholder="Type de problème" name="objet">
       <label for="problème">Problème</label>
      <textarea class="form-control" id="probleme" placeholder="Décrivez ici votre problème" name="probleme"></textarea>
       <button type="submit" class="btn btn-success mt-3">Envoyer votre ticket</button>
          </form>
        </div>
    </div>

{% endblock %}