{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="text-center m-4">Bienvenue sur l'espace admin !</h1>
    {{ include('./admin/navbaradmin.html.twig') }}

    <div class="row">
    <div class="col-8 alert-info text-justify mx-auto border border-info rounded p-3 m-3">

    Bienvenue dans votre espace administrateur. Ici, vous pourrez modifier les différentes informations de votre site en quelques clics... 
    </div>
    </div>

{% endblock %}
