{% extends 'base.html.twig' %}

{% block content %}
    {{ include('./admin/navbaradmin.html.twig') }}

<div class="row m-4 justify-content-center">
<div class="col-lg-4 col-md-3 col-sm-10 alert-warning m-3 order-md-5 order-lg-5 "> BLOC DE DOCUMENTATION </div>
<div class="col-lg-6 col-md-8 col-sm-10 alert-info m-3 order-md-0 order-lg-0 "> BLOC DE MODIF</div>
</div>

{% endblock %}