<section class="py-5">
    <div class="my-5 titre">
        <div class="col-10 mx-auto text-center h1">
            {{entreprise.nom}}, à votre service !
        </div>
        <div class="row">
            {# <svg version="1.1" id="eclair" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 150 43.25" enable-background="new 0 0 150 43.25" xml:space="preserve">
                <g id="XMLID_67_">
                    <path d="M78.736,28.291c-0.41,0-0.795-0.215-1.007-0.575c-0.238-0.402-0.214-0.907,0.061-1.285l6.501-8.939
                   l-75.403,5.8c-0.646,0.053-1.208-0.433-1.258-1.078c-0.05-0.645,0.433-1.208,1.078-1.258l77.932-5.995
                   c0.451-0.035,0.889,0.198,1.112,0.597c0.223,0.399,0.194,0.891-0.075,1.26l-6.399,8.798l60.256-7.652
                   c0.642-0.084,1.227,0.373,1.309,1.014c0.081,0.642-0.373,1.228-1.014,1.309l-62.945,7.993
                   C78.835,28.288,78.785,28.291,78.736,28.291z" />
                </g>
            </svg> #}
            {{ svgStiC.code | raw}}
        </div>
    </div>

    <div class="row my-5 justify-content-center">
        <div class="col-10 col-md-1 mx-auto text-center mb-5">
            <svg version="1.1" id="elec" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
                <g>
                    <path id="XMLID_82_" d="M145.019,33.299h-4.978V28.32c0-2.406-1.952-4.358-4.358-4.358
                       c-2.407,0-4.358,1.952-4.358,4.358v4.979h-19.291V28.32c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979
                       H88.694V4.981c0-2.407-1.951-4.358-4.358-4.358H65.664c-2.407,0-4.358,1.951-4.358,4.358v28.318H46.683V28.32
                       c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979H18.675V28.32c0-2.406-1.951-4.358-4.358-4.358
                       c-2.406,0-4.358,1.952-4.358,4.358v4.979H4.981c-2.407,0-4.358,1.951-4.358,4.358v18.671c0,2.407,1.951,4.358,4.358,4.358h26.203
                       l30.122,30.122v7.84H42.325c-2.407,0-4.358,1.952-4.358,4.358v28.008c0,2.407,1.951,4.358,4.358,4.358h18.981v9.645
                       c0,2.407,1.951,4.358,4.358,4.358c2.407,0,4.358-1.951,4.358-4.358V60.687h9.955v84.332c0,2.407,1.952,4.358,4.358,4.358
                       c2.407,0,4.358-1.951,4.358-4.358v-9.645h18.982c2.406,0,4.358-1.951,4.358-4.358v-28.008c0-2.406-1.952-4.358-4.358-4.358H88.694
                       v-7.84l30.122-30.122h26.203c2.407,0,4.358-1.952,4.358-4.358V37.656C149.377,35.25,147.426,33.299,145.019,33.299z M70.022,9.339
                       h9.955v23.96h-9.955V9.339z M46.682,126.657v-19.292h14.624v19.292H46.682z M61.306,78.483L43.51,60.687h17.796V78.483z
                        M103.318,107.365v19.292H88.694v-19.292H103.318z M88.694,78.483V60.687h17.796L88.694,78.483z M140.661,51.971H9.339v-9.956
                       h131.322V51.971z" />
                </g>
                <path id="XMLID_129_" display="none" d="M172.29-197.244H85.718c-10.705,0-19.414,8.709-19.414,19.414v86.572
                   c0,10.705,8.709,19.414,19.414,19.414h86.572c10.705,0,19.414-8.709,19.414-19.414v-86.572
                   C191.704-188.535,182.995-197.244,172.29-197.244z M184.356-91.258c0,6.653-5.413,12.066-12.066,12.066H85.718
                   c-6.653,0-12.066-5.413-12.066-12.066v-86.572c0-6.653,5.413-12.066,12.066-12.066h86.572c6.653,0,12.066,5.413,12.066,12.066
                   V-91.258z" />
                <g display="none">
                    <path id="XMLID_121_" display="inline"
                        d="M172.29-177.569H85.718c-2.028,0-3.674,1.645-3.674,3.674v31.481
                       c0,2.028,1.646,3.674,3.674,3.674h86.572c2.029,0,3.674-1.646,3.674-3.674v-31.481C175.964-175.923,174.319-177.569,172.29-177.569
                       z M89.392-170.221h47.744v24.133H89.392V-170.221z M168.616-146.088h-24.134v-24.133h24.134V-146.088z" />
                    <path display="inline" d="M162.445-160.768h-3.282v-3.283c0-1.118-0.909-2.027-2.027-2.027h-1.174
                       c-1.117,0-2.026,0.909-2.026,2.027v3.283h-3.282c-1.118,0-2.027,0.909-2.027,2.026v1.174c0,1.117,0.909,2.026,2.027,2.026h3.282
                       v3.283c0,1.118,0.909,2.027,2.026,2.027h1.174c1.118,0,2.027-0.909,2.027-2.027v-3.283h3.282c1.117,0,2.026-0.909,2.026-2.026
                       v-1.174C164.472-159.859,163.562-160.768,162.445-160.768z" />
                    <path display="inline" d="M111.366-155.196H99.554c-1.236,0-2.238-1.002-2.238-2.238v-1.441
                       c0-1.236,1.002-2.238,2.238-2.238h11.813c1.236,0,2.238,1.002,2.238,2.238v1.441C113.604-156.198,112.602-155.196,111.366-155.196z
                       " />
                </g>
                <g display="none">
                    <path id="XMLID_1_" display="inline"
                        d="M85.718-90.74h86.572c2.028,0,3.674-1.646,3.674-3.674v-31.481
                       c0-2.028-1.646-3.674-3.674-3.674H85.718c-2.029,0-3.674,1.646-3.674,3.674v31.481C82.044-92.386,83.689-90.74,85.718-90.74z
                        M168.616-98.088h-47.744v-24.133h47.744V-98.088z M89.392-122.221h24.134v24.133H89.392V-122.221z" />
                    <path display="inline" d="M95.563-107.541h3.282v3.283c0,1.118,0.909,2.027,2.027,2.027h1.174
                       c1.117,0,2.026-0.909,2.026-2.027v-3.283h3.282c1.118,0,2.027-0.909,2.027-2.026v-1.174c0-1.117-0.909-2.026-2.027-2.026h-3.282
                       v-3.283c0-1.118-0.909-2.027-2.026-2.027h-1.174c-1.118,0-2.027,0.909-2.027,2.027v3.283h-3.282c-1.117,0-2.026,0.909-2.026,2.026
                       v1.174C93.536-108.45,94.445-107.541,95.563-107.541z" />
                    <path display="inline" d="M146.642-113.113h11.813c1.236,0,2.238,1.002,2.238,2.238v1.441
                       c0,1.236-1.002,2.238-2.238,2.238h-11.813c-1.236,0-2.238-1.002-2.238-2.238v-1.441
                       C144.404-112.111,145.406-113.113,146.642-113.113z" />
                </g>
                <g display="none">
                    <path id="XMLID_131_" display="inline" d="M351.882-180.091c-14.901,0-26.985,12.056-26.985,26.985v70.056
                       c0,10.872-8.845,19.718-19.718,19.718c-10.872,0-19.718-8.845-19.718-19.718v-8.043h4.15c2.006,0,3.634-1.626,3.634-3.633v-11.934
                       h0.257c6.278,0,11.418-5.076,11.418-11.417v-42.812c0-2.006-1.628-3.634-3.634-3.634h-4.151v-11.934
                       c0-2.007-1.627-3.634-3.634-3.634h-23.351c-2.006,0-3.633,1.627-3.633,3.634v11.934h-4.15c-2.007,0-3.634,1.628-3.634,3.634v42.812
                       c0,6.372,5.172,11.417,11.417,11.417h0.258v11.934c0,2.007,1.627,3.633,3.634,3.633h4.15v8.043
                       c0,14.88,12.106,26.985,26.986,26.985s26.985-12.105,26.985-26.985v-70.056c0-10.887,8.808-19.718,19.718-19.718
                       c10.873,0,19.719,8.846,19.719,19.718v93.408c0,2.007,1.627,3.634,3.634,3.634c2.006,0,3.634-1.627,3.634-3.634v-93.408
                       C378.868-167.985,366.763-180.091,351.882-180.091z M273.785-172.823h16.084v8.3h-16.084V-172.823z M266.001-118.078v-39.178
                       h31.653v39.178c0,2.262-1.828,4.15-4.151,4.15h-23.351C267.89-113.927,266.001-115.756,266.001-118.078z M277.677-106.66h8.301v8.3
                       h-8.301V-106.66z" />
                    <path display="inline"
                        d="M283.9-140.475l3.086-6.018c0.637-1.241,0.146-2.764-1.095-3.4l-0.696-0.357
                       c-1.241-0.637-2.763-0.146-3.4,1.095l-7.004,13.656c-0.385,0.751,0.159,1.644,1.003,1.646l4.074,0.009
                       c0.189,0,0.31,0.2,0.224,0.368l-2.883,5.621c-0.637,1.241-0.146,2.764,1.095,3.4l0.696,0.357c1.241,0.637,2.763,0.146,3.4-1.095
                       l6.724-13.111c0.377-0.735-0.136-1.613-0.961-1.645l-4.049-0.159C283.93-140.114,283.815-140.31,283.9-140.475z" />
                </g>
            </svg>
            <br>
            <h1 class="mt-5"> Label </h1>
        </div>
        <div class="col-10 col-md-1 mx-auto text-center mb-5">
            <svg version="1.1" id="elec" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
                <g display="none">
                    <path id="XMLID_82_" display="inline" d="M-101.901,33.299h-4.978V28.32c0-2.406-1.952-4.358-4.358-4.358
                       c-2.407,0-4.358,1.952-4.358,4.358v4.979h-19.291V28.32c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979
                       h-14.624V4.981c0-2.407-1.951-4.358-4.358-4.358h-18.671c-2.407,0-4.358,1.951-4.358,4.358v28.318h-14.623V28.32
                       c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979h-19.292V28.32c0-2.406-1.951-4.358-4.358-4.358
                       c-2.406,0-4.358,1.952-4.358,4.358v4.979h-4.978c-2.407,0-4.358,1.951-4.358,4.358v18.671c0,2.407,1.951,4.358,4.358,4.358h26.203
                       l30.122,30.122v7.84h-18.981c-2.407,0-4.358,1.952-4.358,4.358v28.008c0,2.407,1.951,4.358,4.358,4.358h18.981v9.645
                       c0,2.407,1.951,4.358,4.358,4.358c2.407,0,4.358-1.951,4.358-4.358V60.687h9.955v84.332c0,2.407,1.952,4.358,4.358,4.358
                       c2.407,0,4.358-1.951,4.358-4.358v-9.645h18.982c2.406,0,4.358-1.951,4.358-4.358v-28.008c0-2.406-1.952-4.358-4.358-4.358h-18.982
                       v-7.84l30.122-30.122h26.203c2.407,0,4.358-1.952,4.358-4.358V37.656C-97.543,35.25-99.493,33.299-101.901,33.299z M-176.897,9.339
                       h9.955v23.96h-9.955V9.339z M-200.238,126.657v-19.292h14.624v19.292H-200.238z M-185.613,78.483l-17.796-17.796h17.796V78.483z
                        M-143.601,107.365v19.292h-14.624v-19.292H-143.601z M-158.226,78.483V60.687h17.796L-158.226,78.483z M-106.259,51.971H-237.58
                       v-9.956h131.322V51.971z" />
                </g>
                <g>
                    <path id="XMLID_129_" d="M126.571,0.3H23.429C10.676,0.3,0.3,10.676,0.3,23.429v103.141
                       c0,12.754,10.376,23.129,23.129,23.129h103.141c12.754,0,23.129-10.376,23.129-23.129V23.429C149.7,10.676,139.324,0.3,126.571,0.3
                       z M140.946,126.571c0,7.926-6.449,14.376-14.376,14.376H23.429c-7.926,0-14.376-6.449-14.376-14.376V23.429
                       c0-7.926,6.449-14.376,14.376-14.376h103.141c7.926,0,14.376,6.449,14.376,14.376V126.571z" />
                    <g>
                        <path id="XMLID_121_"
                            d="M126.571,23.741H23.429c-2.416,0-4.377,1.96-4.377,4.377v37.506
                           c0,2.416,1.961,4.377,4.377,4.377h103.141c2.418,0,4.377-1.961,4.377-4.377V28.118C130.948,25.701,128.988,23.741,126.571,23.741z
                            M27.806,32.494h56.881v28.752H27.806V32.494z M122.194,61.247H93.441V32.494h28.752V61.247z" />
                        <path d="M114.842,43.757h-3.91v-3.911c0-1.332-1.083-2.415-2.415-2.415h-1.398c-1.331,0-2.414,1.083-2.414,2.415
                           v3.911h-3.91c-1.332,0-2.415,1.083-2.415,2.414v1.399c0,1.331,1.083,2.414,2.415,2.414h3.91v3.911
                           c0,1.332,1.083,2.415,2.414,2.415h1.398c1.332,0,2.415-1.083,2.415-2.415v-3.911h3.91c1.331,0,2.414-1.083,2.414-2.414v-1.399
                           C117.256,44.84,116.173,43.757,114.842,43.757z" />
                        <path d="M53.986,50.395H39.913c-1.473,0-2.666-1.194-2.666-2.666v-1.716c0-1.473,1.194-2.666,2.666-2.666h14.073
                           c1.473,0,2.666,1.194,2.666,2.666v1.716C56.653,49.201,55.459,50.395,53.986,50.395z" />
                    </g>
                    <g>
                        <path id="XMLID_1_"
                            d="M23.429,127.187h103.141c2.416,0,4.377-1.96,4.377-4.377V85.304
                           c0-2.416-1.961-4.377-4.377-4.377H23.429c-2.418,0-4.377,1.961-4.377,4.377v37.506C19.052,125.227,21.012,127.187,23.429,127.187z
                            M122.194,118.434H65.312V89.681h56.881V118.434z M27.806,89.681h28.752v28.752H27.806V89.681z" />
                        <path d="M35.158,107.171h3.91v3.911c0,1.332,1.083,2.415,2.415,2.415h1.398c1.331,0,2.414-1.083,2.414-2.415
                           v-3.911h3.91c1.332,0,2.415-1.083,2.415-2.414v-1.399c0-1.331-1.083-2.414-2.415-2.414h-3.91v-3.911
                           c0-1.332-1.083-2.415-2.414-2.415h-1.398c-1.332,0-2.415,1.083-2.415,2.415v3.911h-3.91c-1.331,0-2.414,1.083-2.414,2.414v1.399
                           C32.744,106.088,33.827,107.171,35.158,107.171z" />
                        <path d="M96.013,100.533h14.073c1.473,0,2.666,1.194,2.666,2.666v1.716c0,1.473-1.194,2.666-2.666,2.666H96.013
                           c-1.473,0-2.666-1.194-2.666-2.666v-1.716C93.347,101.727,94.541,100.533,96.013,100.533z" />
                    </g>
                </g>
                <g display="none">
                    <path id="XMLID_131_" display="inline" d="M351.882-180.091c-14.901,0-26.985,12.056-26.985,26.985v70.056
                       c0,10.872-8.845,19.718-19.718,19.718c-10.872,0-19.718-8.845-19.718-19.718v-8.043h4.15c2.006,0,3.634-1.626,3.634-3.633v-11.934
                       h0.257c6.278,0,11.418-5.076,11.418-11.417v-42.812c0-2.006-1.628-3.634-3.634-3.634h-4.151v-11.934
                       c0-2.007-1.627-3.634-3.634-3.634h-23.351c-2.006,0-3.633,1.627-3.633,3.634v11.934h-4.15c-2.007,0-3.634,1.628-3.634,3.634v42.812
                       c0,6.372,5.172,11.417,11.417,11.417h0.258v11.934c0,2.007,1.627,3.633,3.634,3.633h4.15v8.043
                       c0,14.88,12.106,26.985,26.986,26.985s26.985-12.105,26.985-26.985v-70.056c0-10.887,8.808-19.718,19.718-19.718
                       c10.873,0,19.719,8.846,19.719,19.718v93.408c0,2.007,1.627,3.634,3.634,3.634c2.006,0,3.634-1.627,3.634-3.634v-93.408
                       C378.868-167.985,366.763-180.091,351.882-180.091z M273.785-172.823h16.084v8.3h-16.084V-172.823z M266.001-118.078v-39.178
                       h31.653v39.178c0,2.262-1.828,4.15-4.151,4.15h-23.351C267.89-113.927,266.001-115.756,266.001-118.078z M277.677-106.66h8.301v8.3
                       h-8.301V-106.66z" />
                    <path display="inline"
                        d="M283.9-140.475l3.086-6.018c0.637-1.241,0.146-2.764-1.095-3.4l-0.696-0.357
                       c-1.241-0.637-2.763-0.146-3.4,1.095l-7.004,13.656c-0.385,0.751,0.159,1.644,1.003,1.646l4.074,0.009
                       c0.189,0,0.31,0.2,0.224,0.368l-2.883,5.621c-0.637,1.241-0.146,2.764,1.095,3.4l0.696,0.357c1.241,0.637,2.763,0.146,3.4-1.095
                       l6.724-13.111c0.377-0.735-0.136-1.613-0.961-1.645l-4.049-0.159C283.93-140.114,283.815-140.31,283.9-140.475z" />
                </g>
            </svg>
            <br>
            <h1 class="mt-5"> H24 </h1>
        </div>
        <div class="col-10 col-md-1 mx-auto text-center mb-5">
            <svg version="1.1" id="elec" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
                <g>
                    <path id="XMLID_82_" d="M-101.901,33.299h-4.978V28.32c0-2.406-1.952-4.358-4.358-4.358
                            c-2.407,0-4.358,1.952-4.358,4.358v4.979h-19.291V28.32c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979
                            h-14.624V4.981c0-2.407-1.951-4.358-4.358-4.358h-18.671c-2.407,0-4.358,1.951-4.358,4.358v28.318h-14.623V28.32
                            c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979h-19.292V28.32c0-2.406-1.951-4.358-4.358-4.358
                            c-2.406,0-4.358,1.952-4.358,4.358v4.979h-4.978c-2.407,0-4.358,1.951-4.358,4.358v18.671c0,2.407,1.951,4.358,4.358,4.358h26.203
                            l30.122,30.122v7.84h-18.981c-2.407,0-4.358,1.952-4.358,4.358v28.008c0,2.407,1.951,4.358,4.358,4.358h18.981v9.645
                            c0,2.407,1.951,4.358,4.358,4.358c2.407,0,4.358-1.951,4.358-4.358V60.687h9.955v84.332c0,2.407,1.952,4.358,4.358,4.358
                            c2.407,0,4.358-1.951,4.358-4.358v-9.645h18.982c2.406,0,4.358-1.951,4.358-4.358v-28.008c0-2.406-1.952-4.358-4.358-4.358h-18.982
                            v-7.84l30.122-30.122h26.203c2.407,0,4.358-1.952,4.358-4.358V37.656C-97.543,35.25-99.493,33.299-101.901,33.299z M-176.897,9.339
                            h9.955v23.96h-9.955V9.339z M-200.238,126.657v-19.292h14.624v19.292H-200.238z M-185.613,78.483l-17.796-17.796h17.796V78.483z
                             M-143.601,107.365v19.292h-14.624v-19.292H-143.601z M-158.226,78.483V60.687h17.796L-158.226,78.483z M-106.259,51.971H-237.58
                            v-9.956h131.322V51.971z" />
                </g>
                <g>
                    <path id="XMLID_129_" d="M-113.623-168.956h-103.141c-12.754,0-23.129,10.376-23.129,23.13v103.141
                            c0,12.754,10.376,23.129,23.129,23.129h103.141c12.754,0,23.129-10.376,23.129-23.129v-103.141
                            C-90.494-158.58-100.87-168.956-113.623-168.956z M-99.248-42.685c0,7.926-6.449,14.376-14.376,14.376h-103.141
                            c-7.926,0-14.376-6.449-14.376-14.376v-103.141c0-7.926,6.449-14.376,14.376-14.376h103.141c7.926,0,14.376,6.449,14.376,14.376
                            V-42.685z" />
                    <g>
                        <path id="XMLID_121_" d="M-113.623-145.515h-103.141c-2.417,0-4.377,1.96-4.377,4.377v37.506
                                c0,2.416,1.961,4.377,4.377,4.377h103.141c2.418,0,4.377-1.961,4.377-4.377v-37.506
                                C-109.246-143.555-111.206-145.515-113.623-145.515z M-212.387-136.761h56.881v28.752h-56.881V-136.761z M-118-108.009h-28.752
                                v-28.752H-118V-108.009z" />
                        <path d="M-125.352-125.499h-3.91v-3.911c0-1.332-1.083-2.415-2.415-2.415h-1.398c-1.331,0-2.414,1.083-2.414,2.415
                                v3.911h-3.91c-1.332,0-2.415,1.083-2.415,2.414v1.399c0,1.331,1.083,2.414,2.415,2.414h3.91v3.911
                                c0,1.332,1.083,2.415,2.414,2.415h1.398c1.332,0,2.415-1.083,2.415-2.415v-3.911h3.91c1.331,0,2.414-1.083,2.414-2.414v-1.399
                                C-122.938-124.416-124.021-125.499-125.352-125.499z" />
                        <path
                            d="M-186.207-118.861h-14.073c-1.473,0-2.666-1.194-2.666-2.666v-1.716c0-1.473,1.194-2.666,2.666-2.666
                                h14.073c1.473,0,2.666,1.194,2.666,2.666v1.716C-183.541-120.054-184.735-118.861-186.207-118.861z" />
                    </g>
                    <g>
                        <path id="XMLID_1_" d="M-216.764-42.068h103.141c2.416,0,4.377-1.96,4.377-4.377v-37.506
                                c0-2.416-1.961-4.377-4.377-4.377h-103.141c-2.418,0-4.377,1.961-4.377,4.377v37.506
                                C-221.141-44.029-219.182-42.068-216.764-42.068z M-118-50.822h-56.881v-28.752H-118V-50.822z M-212.388-79.575h28.752v28.752
                                h-28.752V-79.575z" />
                        <path d="M-205.035-62.085h3.91v3.911c0,1.332,1.083,2.415,2.415,2.415h1.398c1.331,0,2.414-1.083,2.414-2.415
                                v-3.911h3.91c1.332,0,2.415-1.083,2.415-2.414v-1.399c0-1.331-1.083-2.414-2.415-2.414h-3.91v-3.911
                                c0-1.332-1.083-2.415-2.414-2.415h-1.398c-1.332,0-2.415,1.083-2.415,2.415v3.911h-3.91c-1.331,0-2.414,1.083-2.414,2.414v1.399
                                C-207.45-63.168-206.366-62.085-205.035-62.085z" />
                        <path
                            d="M-144.18-68.723h14.073c1.473,0,2.666,1.194,2.666,2.666v1.716c0,1.473-1.194,2.666-2.666,2.666h-14.073
                                c-1.473,0-2.666-1.194-2.666-2.666v-1.716C-146.847-67.529-145.653-68.723-144.18-68.723z" />
                    </g>
                </g>
                <g>
                    <path id="XMLID_131_"
                        d="M114.701,0.578c-17.883,0-32.385,14.469-32.385,32.385v84.075
                            c0,13.048-10.616,23.663-23.663,23.663c-13.048,0-23.663-10.615-23.663-23.663v-9.653h4.981c2.407,0,4.361-1.952,4.361-4.361
                            V88.702h0.309c7.535,0,13.703-6.091,13.703-13.702V23.621c0-2.407-1.953-4.361-4.361-4.361H49V4.939
                            c0-2.409-1.952-4.361-4.361-4.361H16.615c-2.407,0-4.361,1.952-4.361,4.361v14.322H7.274c-2.408,0-4.361,1.953-4.361,4.361V75
                            c0,7.647,6.207,13.702,13.702,13.702h0.31v14.322c0,2.409,1.952,4.361,4.361,4.361h4.981v9.653
                            c0,17.857,14.529,32.385,32.386,32.385s32.385-14.528,32.385-32.385V32.963c0-13.066,10.571-23.663,23.663-23.663
                            c13.049,0,23.665,10.616,23.665,23.663v112.099c0,2.409,1.952,4.361,4.361,4.361c2.408,0,4.361-1.952,4.361-4.361V32.963
                            C147.087,15.105,132.559,0.578,114.701,0.578z M20.976,9.299h19.303v9.961H20.976V9.299z M11.635,75V27.982h37.987V75
                            c0,2.714-2.194,4.981-4.982,4.981H16.615C13.901,79.981,11.635,77.787,11.635,75z M25.647,88.702h9.963v9.961h-9.963V88.702z" />
                    <path d="M33.115,48.121l3.704-7.222c0.764-1.49,0.176-3.317-1.314-4.08L34.67,36.39
                            c-1.49-0.764-3.316-0.176-4.08,1.314l-8.405,16.389c-0.462,0.901,0.191,1.973,1.204,1.975l4.889,0.011
                            c0.227,0.001,0.373,0.24,0.269,0.442l-3.46,6.746c-0.764,1.49-0.176,3.316,1.314,4.08l0.835,0.428
                            c1.49,0.764,3.316,0.176,4.08-1.314l8.07-15.735c0.452-0.882-0.163-1.935-1.154-1.974l-4.859-0.19
                            C33.151,48.554,33.013,48.318,33.115,48.121z" />
                </g>
            </svg>
            <br>
            <h1 class="mt-5"> Label </h1>
        </div>
        <div class="col-10 col-md-1 mx-auto text-center mb-5">
            <svg version="1.1" id="elec" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
                <g display="none">
                    <path id="XMLID_82_" display="inline" d="M-101.901,33.299h-4.978V28.32c0-2.406-1.952-4.358-4.358-4.358
                           c-2.407,0-4.358,1.952-4.358,4.358v4.979h-19.291V28.32c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979
                           h-14.624V4.981c0-2.407-1.951-4.358-4.358-4.358h-18.671c-2.407,0-4.358,1.951-4.358,4.358v28.318h-14.623V28.32
                           c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979h-19.292V28.32c0-2.406-1.951-4.358-4.358-4.358
                           c-2.406,0-4.358,1.952-4.358,4.358v4.979h-4.978c-2.407,0-4.358,1.951-4.358,4.358v18.671c0,2.407,1.951,4.358,4.358,4.358h26.203
                           l30.122,30.122v7.84h-18.981c-2.407,0-4.358,1.952-4.358,4.358v28.008c0,2.407,1.951,4.358,4.358,4.358h18.981v9.645
                           c0,2.407,1.951,4.358,4.358,4.358c2.407,0,4.358-1.951,4.358-4.358V60.687h9.955v84.332c0,2.407,1.952,4.358,4.358,4.358
                           c2.407,0,4.358-1.951,4.358-4.358v-9.645h18.982c2.406,0,4.358-1.951,4.358-4.358v-28.008c0-2.406-1.952-4.358-4.358-4.358h-18.982
                           v-7.84l30.122-30.122h26.203c2.407,0,4.358-1.952,4.358-4.358V37.656C-97.543,35.25-99.493,33.299-101.901,33.299z M-176.897,9.339
                           h9.955v23.96h-9.955V9.339z M-200.238,126.657v-19.292h14.624v19.292H-200.238z M-185.613,78.483l-17.796-17.796h17.796V78.483z
                            M-143.601,107.365v19.292h-14.624v-19.292H-143.601z M-158.226,78.483V60.687h17.796L-158.226,78.483z M-106.259,51.971H-237.58
                           v-9.956h131.322V51.971z" />
                </g>
                <g>
                    <path id="XMLID_129_" d="M126.571,0.3H23.429C10.676,0.3,0.3,10.676,0.3,23.429v103.141
                           c0,12.754,10.376,23.129,23.129,23.129h103.141c12.754,0,23.129-10.376,23.129-23.129V23.429C149.7,10.676,139.324,0.3,126.571,0.3
                           z M140.946,126.571c0,7.926-6.449,14.376-14.376,14.376H23.429c-7.926,0-14.376-6.449-14.376-14.376V23.429
                           c0-7.926,6.449-14.376,14.376-14.376h103.141c7.926,0,14.376,6.449,14.376,14.376V126.571z" />
                    <g>
                        <path id="XMLID_121_"
                            d="M126.571,23.741H23.429c-2.416,0-4.377,1.96-4.377,4.377v37.506
                               c0,2.416,1.961,4.377,4.377,4.377h103.141c2.418,0,4.377-1.961,4.377-4.377V28.118C130.948,25.701,128.988,23.741,126.571,23.741z
                                M27.806,32.494h56.881v28.752H27.806V32.494z M122.194,61.247H93.441V32.494h28.752V61.247z" />
                        <path d="M114.842,43.757h-3.91v-3.911c0-1.332-1.083-2.415-2.415-2.415h-1.398c-1.331,0-2.414,1.083-2.414,2.415
                               v3.911h-3.91c-1.332,0-2.415,1.083-2.415,2.414v1.399c0,1.331,1.083,2.414,2.415,2.414h3.91v3.911
                               c0,1.332,1.083,2.415,2.414,2.415h1.398c1.332,0,2.415-1.083,2.415-2.415v-3.911h3.91c1.331,0,2.414-1.083,2.414-2.414v-1.399
                               C117.256,44.84,116.173,43.757,114.842,43.757z" />
                        <path d="M53.986,50.395H39.913c-1.473,0-2.666-1.194-2.666-2.666v-1.716c0-1.473,1.194-2.666,2.666-2.666h14.073
                               c1.473,0,2.666,1.194,2.666,2.666v1.716C56.653,49.201,55.459,50.395,53.986,50.395z" />
                    </g>
                    <g>
                        <path id="XMLID_1_"
                            d="M23.429,127.187h103.141c2.416,0,4.377-1.96,4.377-4.377V85.304
                               c0-2.416-1.961-4.377-4.377-4.377H23.429c-2.418,0-4.377,1.961-4.377,4.377v37.506C19.052,125.227,21.012,127.187,23.429,127.187z
                                M122.194,118.434H65.312V89.681h56.881V118.434z M27.806,89.681h28.752v28.752H27.806V89.681z" />
                        <path d="M35.158,107.171h3.91v3.911c0,1.332,1.083,2.415,2.415,2.415h1.398c1.331,0,2.414-1.083,2.414-2.415
                               v-3.911h3.91c1.332,0,2.415-1.083,2.415-2.414v-1.399c0-1.331-1.083-2.414-2.415-2.414h-3.91v-3.911
                               c0-1.332-1.083-2.415-2.414-2.415h-1.398c-1.332,0-2.415,1.083-2.415,2.415v3.911h-3.91c-1.331,0-2.414,1.083-2.414,2.414v1.399
                               C32.744,106.088,33.827,107.171,35.158,107.171z" />
                        <path
                            d="M96.013,100.533h14.073c1.473,0,2.666,1.194,2.666,2.666v1.716c0,1.473-1.194,2.666-2.666,2.666H96.013
                               c-1.473,0-2.666-1.194-2.666-2.666v-1.716C93.347,101.727,94.541,100.533,96.013,100.533z" />
                    </g>
                </g>
                <g display="none">
                    <path id="XMLID_131_" display="inline" d="M351.882-180.091c-14.901,0-26.985,12.056-26.985,26.985v70.056
                           c0,10.872-8.845,19.718-19.718,19.718c-10.872,0-19.718-8.845-19.718-19.718v-8.043h4.15c2.006,0,3.634-1.626,3.634-3.633v-11.934
                           h0.257c6.278,0,11.418-5.076,11.418-11.417v-42.812c0-2.006-1.628-3.634-3.634-3.634h-4.151v-11.934
                           c0-2.007-1.627-3.634-3.634-3.634h-23.351c-2.006,0-3.633,1.627-3.633,3.634v11.934h-4.15c-2.007,0-3.634,1.628-3.634,3.634v42.812
                           c0,6.372,5.172,11.417,11.417,11.417h0.258v11.934c0,2.007,1.627,3.633,3.634,3.633h4.15v8.043
                           c0,14.88,12.106,26.985,26.986,26.985s26.985-12.105,26.985-26.985v-70.056c0-10.887,8.808-19.718,19.718-19.718
                           c10.873,0,19.719,8.846,19.719,19.718v93.408c0,2.007,1.627,3.634,3.634,3.634c2.006,0,3.634-1.627,3.634-3.634v-93.408
                           C378.868-167.985,366.763-180.091,351.882-180.091z M273.785-172.823h16.084v8.3h-16.084V-172.823z M266.001-118.078v-39.178
                           h31.653v39.178c0,2.262-1.828,4.15-4.151,4.15h-23.351C267.89-113.927,266.001-115.756,266.001-118.078z M277.677-106.66h8.301v8.3
                           h-8.301V-106.66z" />
                    <path display="inline"
                        d="M283.9-140.475l3.086-6.018c0.637-1.241,0.146-2.764-1.095-3.4l-0.696-0.357
                           c-1.241-0.637-2.763-0.146-3.4,1.095l-7.004,13.656c-0.385,0.751,0.159,1.644,1.003,1.646l4.074,0.009
                           c0.189,0,0.31,0.2,0.224,0.368l-2.883,5.621c-0.637,1.241-0.146,2.764,1.095,3.4l0.696,0.357c1.241,0.637,2.763,0.146,3.4-1.095
                           l6.724-13.111c0.377-0.735-0.136-1.613-0.961-1.645l-4.049-0.159C283.93-140.114,283.815-140.31,283.9-140.475z" />
                </g>
            </svg>
            <br>
            <h1 class="mt-5"> H24 </h1>
        </div>
        <div class="col-10 col-md-1 mx-auto text-center mb-5">
            <svg version="1.1" id="elec" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve">
                <g>
                    <path id="XMLID_82_" d="M-101.901,33.299h-4.978V28.32c0-2.406-1.952-4.358-4.358-4.358
                                c-2.407,0-4.358,1.952-4.358,4.358v4.979h-19.291V28.32c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979
                                h-14.624V4.981c0-2.407-1.951-4.358-4.358-4.358h-18.671c-2.407,0-4.358,1.951-4.358,4.358v28.318h-14.623V28.32
                                c0-2.406-1.952-4.358-4.358-4.358c-2.407,0-4.358,1.952-4.358,4.358v4.979h-19.292V28.32c0-2.406-1.951-4.358-4.358-4.358
                                c-2.406,0-4.358,1.952-4.358,4.358v4.979h-4.978c-2.407,0-4.358,1.951-4.358,4.358v18.671c0,2.407,1.951,4.358,4.358,4.358h26.203
                                l30.122,30.122v7.84h-18.981c-2.407,0-4.358,1.952-4.358,4.358v28.008c0,2.407,1.951,4.358,4.358,4.358h18.981v9.645
                                c0,2.407,1.951,4.358,4.358,4.358c2.407,0,4.358-1.951,4.358-4.358V60.687h9.955v84.332c0,2.407,1.952,4.358,4.358,4.358
                                c2.407,0,4.358-1.951,4.358-4.358v-9.645h18.982c2.406,0,4.358-1.951,4.358-4.358v-28.008c0-2.406-1.952-4.358-4.358-4.358h-18.982
                                v-7.84l30.122-30.122h26.203c2.407,0,4.358-1.952,4.358-4.358V37.656C-97.543,35.25-99.493,33.299-101.901,33.299z M-176.897,9.339
                                h9.955v23.96h-9.955V9.339z M-200.238,126.657v-19.292h14.624v19.292H-200.238z M-185.613,78.483l-17.796-17.796h17.796V78.483z
                                 M-143.601,107.365v19.292h-14.624v-19.292H-143.601z M-158.226,78.483V60.687h17.796L-158.226,78.483z M-106.259,51.971H-237.58
                                v-9.956h131.322V51.971z" />
                </g>
                <g>
                    <path id="XMLID_129_" d="M-113.623-168.956h-103.141c-12.754,0-23.129,10.376-23.129,23.13v103.141
                                c0,12.754,10.376,23.129,23.129,23.129h103.141c12.754,0,23.129-10.376,23.129-23.129v-103.141
                                C-90.494-158.58-100.87-168.956-113.623-168.956z M-99.248-42.685c0,7.926-6.449,14.376-14.376,14.376h-103.141
                                c-7.926,0-14.376-6.449-14.376-14.376v-103.141c0-7.926,6.449-14.376,14.376-14.376h103.141c7.926,0,14.376,6.449,14.376,14.376
                                V-42.685z" />
                    <g>
                        <path id="XMLID_121_" d="M-113.623-145.515h-103.141c-2.417,0-4.377,1.96-4.377,4.377v37.506
                                    c0,2.416,1.961,4.377,4.377,4.377h103.141c2.418,0,4.377-1.961,4.377-4.377v-37.506
                                    C-109.246-143.555-111.206-145.515-113.623-145.515z M-212.387-136.761h56.881v28.752h-56.881V-136.761z M-118-108.009h-28.752
                                    v-28.752H-118V-108.009z" />
                        <path d="M-125.352-125.499h-3.91v-3.911c0-1.332-1.083-2.415-2.415-2.415h-1.398c-1.331,0-2.414,1.083-2.414,2.415
                                    v3.911h-3.91c-1.332,0-2.415,1.083-2.415,2.414v1.399c0,1.331,1.083,2.414,2.415,2.414h3.91v3.911
                                    c0,1.332,1.083,2.415,2.414,2.415h1.398c1.332,0,2.415-1.083,2.415-2.415v-3.911h3.91c1.331,0,2.414-1.083,2.414-2.414v-1.399
                                    C-122.938-124.416-124.021-125.499-125.352-125.499z" />
                        <path
                            d="M-186.207-118.861h-14.073c-1.473,0-2.666-1.194-2.666-2.666v-1.716c0-1.473,1.194-2.666,2.666-2.666
                                    h14.073c1.473,0,2.666,1.194,2.666,2.666v1.716C-183.541-120.054-184.735-118.861-186.207-118.861z" />
                    </g>
                    <g>
                        <path id="XMLID_1_" d="M-216.764-42.068h103.141c2.416,0,4.377-1.96,4.377-4.377v-37.506
                                    c0-2.416-1.961-4.377-4.377-4.377h-103.141c-2.418,0-4.377,1.961-4.377,4.377v37.506
                                    C-221.141-44.029-219.182-42.068-216.764-42.068z M-118-50.822h-56.881v-28.752H-118V-50.822z M-212.388-79.575h28.752v28.752
                                    h-28.752V-79.575z" />
                        <path d="M-205.035-62.085h3.91v3.911c0,1.332,1.083,2.415,2.415,2.415h1.398c1.331,0,2.414-1.083,2.414-2.415
                                    v-3.911h3.91c1.332,0,2.415-1.083,2.415-2.414v-1.399c0-1.331-1.083-2.414-2.415-2.414h-3.91v-3.911
                                    c0-1.332-1.083-2.415-2.414-2.415h-1.398c-1.332,0-2.415,1.083-2.415,2.415v3.911h-3.91c-1.331,0-2.414,1.083-2.414,2.414v1.399
                                    C-207.45-63.168-206.366-62.085-205.035-62.085z" />
                        <path
                            d="M-144.18-68.723h14.073c1.473,0,2.666,1.194,2.666,2.666v1.716c0,1.473-1.194,2.666-2.666,2.666h-14.073
                                    c-1.473,0-2.666-1.194-2.666-2.666v-1.716C-146.847-67.529-145.653-68.723-144.18-68.723z" />
                    </g>
                </g>
                <g>
                    <path id="XMLID_131_"
                        d="M114.701,0.578c-17.883,0-32.385,14.469-32.385,32.385v84.075
                                c0,13.048-10.616,23.663-23.663,23.663c-13.048,0-23.663-10.615-23.663-23.663v-9.653h4.981c2.407,0,4.361-1.952,4.361-4.361
                                V88.702h0.309c7.535,0,13.703-6.091,13.703-13.702V23.621c0-2.407-1.953-4.361-4.361-4.361H49V4.939
                                c0-2.409-1.952-4.361-4.361-4.361H16.615c-2.407,0-4.361,1.952-4.361,4.361v14.322H7.274c-2.408,0-4.361,1.953-4.361,4.361V75
                                c0,7.647,6.207,13.702,13.702,13.702h0.31v14.322c0,2.409,1.952,4.361,4.361,4.361h4.981v9.653
                                c0,17.857,14.529,32.385,32.386,32.385s32.385-14.528,32.385-32.385V32.963c0-13.066,10.571-23.663,23.663-23.663
                                c13.049,0,23.665,10.616,23.665,23.663v112.099c0,2.409,1.952,4.361,4.361,4.361c2.408,0,4.361-1.952,4.361-4.361V32.963
                                C147.087,15.105,132.559,0.578,114.701,0.578z M20.976,9.299h19.303v9.961H20.976V9.299z M11.635,75V27.982h37.987V75
                                c0,2.714-2.194,4.981-4.982,4.981H16.615C13.901,79.981,11.635,77.787,11.635,75z M25.647,88.702h9.963v9.961h-9.963V88.702z" />
                    <path d="M33.115,48.121l3.704-7.222c0.764-1.49,0.176-3.317-1.314-4.08L34.67,36.39
                                c-1.49-0.764-3.316-0.176-4.08,1.314l-8.405,16.389c-0.462,0.901,0.191,1.973,1.204,1.975l4.889,0.011
                                c0.227,0.001,0.373,0.24,0.269,0.442l-3.46,6.746c-0.764,1.49-0.176,3.316,1.314,4.08l0.835,0.428
                                c1.49,0.764,3.316,0.176,4.08-1.314l8.07-15.735c0.452-0.882-0.163-1.935-1.154-1.974l-4.859-0.19
                                C33.151,48.554,33.013,48.318,33.115,48.121z" />
                </g>
            </svg>
            <br>
            <h1 class="mt-5"> Label </h1>
        </div>
    </div>

</section>