<main>
    <div class="row">
        <div class="col-12 text-center index-img-titre p-4">
            <h1>{{entreprise.nom}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 offset-lg-7 col-md-8 offset-md-2 mt-5 mb-5 p-4 index-img-description">
               <h1 class="m-2 text-primary"> {{presentation.titre}} </h1>
                <h4>{{presentation.sousTitre}} </h4>
         <p>{{presentation.texte | raw}}</p>
        </div>
    </div>
</main>
