

       <main class="main-bg row pt-5">
            <div class="col-10 offset-1 col-md-4 offset-md-6 p-5 main-contact">
                <h2 class="mb-4"> Une question ? </h2>

                <input placeholder="TEST" class="col-12 mx-auto m-3 p-2" />
                <input placeholder="TEST" class="col-12 mx-auto m-3 p-2" />
                <input placeholder="TEST" class="col-12 mx-auto m-3 p-2" />
                <input placeholder="TEST" class="col-12 mx-auto m-3 p-2" />

                <div class="col-6 btn mt-3 p-2"><a href=""> Envoyer </a></div>
            </div>

            <svg version="1.1" id="bottomlightwhite2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 1920 132.013" enable-background="new 0 0 1920 132.013" xml:space="preserve">
       <polygon id="XMLID_250_" points="1920,82.188 951,82.188 988.341,40.188 0,40.188 0,104.188 1920,104.188 "/>
       </svg>
        </main>