<section class="py-5">
    <div class="my-5 titre">
        <div class="col-10 mx-auto text-center h1">
            {{entreprise.nom}}, à votre service !
        </div>
        <div class="row">
            
            {% for svgTransi in svgTransis | sortbyfield('dateAffichage') | slice(0, 1) %}
            {{ svgTransi.soustitreIconC | raw}}
            {% endfor %}
        </div>
    </div>

    <div class="row my-5 justify-content-center">

        {% for icon in icons %}
        {% for label in icon.labels2 %}

        <div class="col-5 col-md-1 mx-auto text-center mb-5">

            {{ icon.code | raw }}

            <h4 class="mt-5 text-break">{{label.nom}}</h4>
        </div>
        {% endfor %}
        {% endfor %}

    </div>

</section>