<section>
    <div class="row presentation">
        <div class="col-12 pb-4 ">
            <h1 class="text-center mt-4 mb-4"> Partenaires </h1>
            <h3 class="text-center text-primary"> <i class="fas fa-handshake"></i> <i class="fas fa-handshake"></i> <i
                    class="fas fa-handshake"></i> </h3>
            <div class="row justify-content-around">
                {% for logo in logos %}
                <div class="col-md-2 col-sm-6"><a class="text-decoration-none" href="{{ logo.sitePartenaire }}"><img src="{{ asset('/photo/logos/' ~ logo.logo) }}" class="img-fluid" /> <p class="text-dark font-weight-light text-center">{{ logo.nomPartenaire}}</p></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

