<section>
    <!-- C'est une section qui n'est pas dynamique. Les labels sont choisis au début par le client et créé au moment de la création du site. -->
    <div class="row justify-content-around bg-dark">
        <a class="col-md-2 col-sm-12 m-4" href="#">
            <img src="http://www.fnpca.fr/wp-content/uploads/2015/07/img-artisanat.png" class="img-fluid" >
            </a>
        <a class="col-md-2 col-sm-12 m-4" href="#">
            <img src="http://www.fnpca.fr/wp-content/uploads/2015/07/img-artisanat.png" class="img-fluid" >
            </a>
        <a class="col-md-2 col-sm-12 m-4" href="#">
            <img src="http://www.fnpca.fr/wp-content/uploads/2015/07/img-artisanat.png" class="img-fluid" >
            </a>
        <a class="col-md-2 col-sm-12 m-4" href="#">
            <img src="http://www.fnpca.fr/wp-content/uploads/2015/07/img-artisanat.png" class="img-fluid" >
            </a>
    </div>
</section>
