{# {% extends 'base.html.twig' %} #}

{% block content %}

<h1>ERREUR !</h1>

La page a rencontré un problème, nous sommes désolés pour le dérangement. 

Retour à <a href="{{ path('index') }}">l'accueil</a>.

{% endblock %}